/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --subtitle-text-color: #353430;
  --title-text-color: #ffc2e6;
  --main-section-title-color: var(--main-text-color);
  --cover-image: url('../images/cover-image-light.png');
  --link-state-color: #353430;
  --hover-color: 50, 49, 45;
}

:root.theme-light .rec {
  opacity: 0;
  pointer-events: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --subtitle-text-color: #353430;
    --title-text-color: #ffc2e6;
    --main-section-title-color: var(--main-text-color);
    --cover-image: url('../images/cover-image-light.png');
    --link-state-color: #353430;
    --hover-color: 50, 49, 45;
  }

  :root.theme-light .rec {
    opacity: 0;
    pointer-events: none;
  }
}
