:root.theme-light {
  --accent-color: #ff8dcb;
  --main-text-color: #353430;
  --subtitle-text-color: var(--main-text-color);
  --title-text-color: #ffc2e6;
  --main-section-title-color: var(--main-text-color);
  --cover-image: url(../images/cover-image-light.png);
  --link-state-color: var(--main-text-color);
  --hover-color: 50, 49, 45;
  --decor-color: var(--main-text-color);
  --cover-color: #fff1f7;
}

:root.theme-light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --accent-color: #ff8dcb;
    --main-text-color: #353430;
    --subtitle-text-color: var(--main-text-color);
    --title-text-color: #ffc2e6;
    --main-section-title-color: var(--main-text-color);
    --cover-image: url(../images/cover-image-light.png);
    --link-state-color: var(--main-text-color);
    --hover-color: 50, 49, 45;
    --decor-color: var(--main-text-color);
  }

  .rec {
    display: none;
  }
}
