/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* * {
  outline: 1px solid red;
} */
.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000028;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  display: block;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  content: '';
}

.decorated-zone::after {
  position: absolute;
  block-size: 25px;
  inline-size: 25px;
  display: block;
  right: 10px;
  top: 10px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  content: '';
  background-color: transparent;
}

.rec {
  position: absolute;
  right: 19px;
  top: 10px;
  font-family: var(--font-family-base), sans-serif;
  color: var(--accent-color);
  line-height: 1.39;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
}

.rec::after {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  content: '';
  display: inline-block;
  margin-inline-start: 10px;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: 10px;
  
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-item {
  display: grid;
  grid-template-rows: min-content min-content max-content;
  gap: 10px;
}

.header__theme-menu-button {
  line-height: 1;
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size-base);
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  color: var(--accent-color);
  font-weight: var(--font-weight-regular);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  padding-inline: 13px;
  padding-block: 3px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--font-weight-bold);
  color: #db00ff;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
  font-family: var(--font-family-base);
}

.title-decor {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  line-height: calc(23px / var(--font-size-base));
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
  
  
}
