/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* * {
  outline: 1px solid red;
} */

.page {
  background-color: #000028;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--cover-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: block;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  background-color: transparent;
  block-size: 25px;
  inline-size: 25px;
}

.rec {
  position: absolute;
  top: 10px;
  right: 19px;
  color: var(--accent-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1.39;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-inline-start: 10px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: var(--padding-inline-base);
  padding-block: var(--padding-block-base);
  max-block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  color: var(--link-state-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(var(--hover-color), 0.4);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--link-state-color);
  outline: none;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--link-state-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--link-state-color);
  padding-inline: 13px;
  padding-block: 3px;
  pointer-events: none;
}

.header__title {
  color: var(--title-text-color);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.title-decor {
  align-self: center;
  color: var(--subtitle-text-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--accent-color);
}

.main-content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 50px;
  margin-block-start: 40px;
  padding-inline: var(--padding-inline-base);
}

.main__section-title {
  color: var(--main-section-title-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.main__section_type_reasons {
  display: grid;
  gap: 20px;
}

.content-card {
  display: grid;
  gap: 10px;
}

.main__section-subtitle {
  margin-block-start: 10px;
  color: var(--subtitle-text-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--accent-color);
}

.main__section-text {
  color: var(--main-text-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 1px var(--accent-color);
}

a:hover {
  border-bottom: 1px solid var(--link-state-color);
}

a:focus-visible {
  border: 1px solid var(--link-state-color);
  outline: none;
}

a:focus {
  border: 1px solid var(--link-state-color);
  outline: none;
}

.main__section_type_factors {
  display: grid;
  gap: 20px;
}

.main__section_type_tips {
  display: grid;
  gap: 20px;
}

.main__section_type_images {
  display: grid;
  gap: 10px;
  max-inline-size: 100%;
}

.main__section_type_images img {
  display: block;
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer__title {
  color: var(--title-text-color);
  font-family: var(--font-family-base), sans-serif;
  font-weight: var(--font-weight-bold);
  font-size: 116px;
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width>768px) {

  .header {
    grid-template-columns: 1fr 1fr;
    min-block-size: 1024px;
  }

  .decorated-zone::before {
    bottom: 24px;
    left: 20px;
  }

  .decorated-zone::after {
    top: 14px;
    right: 20px;
  }

  .rec {
    top: 15px;
    right: 31px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2;
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 2 / 3;
    grid-row: 3;
  }

  .main-content {
    gap: 80px;
    margin-block-start: 60px;
  }

  .main__section_type_reasons {
    grid-template-columns: 1fr 2fr;
  }

  .main__section-title {
    grid-column: 1;
    grid-row: 1;
  }

  .main__section_type_reasons .content-card {
    grid-column: 2;
  }

  .main__section_type_factors {
    grid-template-columns: 1fr 2fr;
  }

  .main__section_type_factors .content-card {
    grid-column: 1 / 3;
  }

  .main__section_type_tips {
    grid-template-columns: 1fr 2fr;
  }

  .main__section_type_tips .main__section-title {
    grid-column: 1;
    grid-row: 1;
  }

  .main__section_type_images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content min-content min-content min-content;
    gap: 20px;
  }

  .main__section_type_images h2 {
    grid-column: 1/-1;
  }

  .main__section_type_images img {
    block-size: 100%;
    max-inline-size: auto;
  }

  .main__section_type_images img:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 2;
  }

  .main__section_type_images img:nth-of-type(2) {
    grid-column: 3;
    grid-row: 2/4;
  }

  .main__section_type_images img:nth-of-type(3) {
    grid-column: 1;
    grid-row: 3/5;
  }

  .main__section_type_images img:nth-of-type(4) {
    grid-column: 2;
    grid-row: 3;
  }

  .main__section_type_images img:nth-of-type(5) {
    grid-column: 2/4;
    grid-row: 4;
  }

  .footer {
    margin-block-start: 60px;
    min-block-size: 1024px;
    block-size: 100vh;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 1024px) {

  .decorated-zone::before {
    bottom: 19px;
  }

  .decorated-zone::after {
    top: 20px;
  }

  .rec {
    top: 20px;
  }

  .header {
    grid-template-columns: 1fr 1fr 1fr;
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .header__title {
    grid-column: 1/-1;
  }

  .header__description {
    grid-column: 2/4;
  }

  .header .title-decor {
    margin-inline-start: 25%;
  }

  .main__section_type_factors {
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }

  .main__section_type_factors article:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
  }

  .main__section_type_factors article:nth-of-type(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .main__section_type_factors article:nth-of-type(3) {
    grid-column: 3;
    grid-row: 2;
  }

  .footer{
    min-block-size: 768px;
  }
}
