/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url('../images/cover-image.png');
  --font-size-base: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-base: 'IBM Plex Mono';
  --color-base: #ff0070;
  --accent-color: #ff0070;
  --main-text-color:#F1B2CE;
  --subtitle-text-color:#000028;

}

@media (prefers-color-scheme: dark) {
  :root {
    --cover-image: url('../images/cover-image-dark.png');
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url('../images/cover-image-light.png');
  }
}
