/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --cover-image: url('../images/cover-image.png');
  --font-size-base: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-base: 'IBM Plex Mono';
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --subtitle-text-color: #000028;
  --line-height-base: calc(23.4px/var(--font-size-base));
  --footer-text-color: #DB00FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cover-image: url('../images/cover-image-dark.png');
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url('../images/cover-image-light.png');
  }
}
