:root {
  --cover-image: url(../images/cover-image.png);
  --font-size-base: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-family-base: "IBM Plex Mono";
  --accent-color: #ff0070;
  --main-text-color: #f1b2ce;
  --subtitle-text-color: #000028;
  --line-height-base: calc(23.4px/var(--font-size-base));
  --title-text-color: #db00ff;
  --padding-block-base: 10px;
  --padding-inline-base: 10px;
  --main-section-title-color: var(--accent-color);
  --link-state-color: var(--accent-color);
  --hover-color: 255, 0, 112;
  --decor-color: var(--accent-color);
  --cover-color: #000028;
}

@media (width>=768px) {

  :root {
    --padding-block-base: 20px;
    --padding-inline-base: 20px;
  }
}

@media (prefers-color-scheme: dark) {

  :root {
    --cover-image: url(../images/cover-image-dark.png);
  }
}
